version: '3.8'

services:
  # SERVICE 1: THE ROBOT BRAIN (ROS 2 + MoveIt)
  robot_brain:
    build: .
    container_name: sorting_robot
    
    # GPU CONFIGURATION
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

    # DISPLAY SETTINGS
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1

    # VOLUMES
    volumes:
      - ./src:/root/ws_moveit/src
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    # NETWORK
    network_mode: host
    command: bash -c "source /opt/ros/humble/setup.bash && tail -f /dev/null"
    tty: true

  # SERVICE 2: THE MQTT BROKER (The "Post Office")
  mqtt_broker:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    # Note: We removed 'network_mode: host' for this one
    ports:
      - "1883:1883"  # Open the port to Windows/WSL
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf